<html>
<head>
    <meta charset="utf-8"/>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu/csrf-web-section">
    <title>my page page</title>
</head>
<body>
<h1>${formType}</h1>
<form class="aui"  action="${endpointUrl}" method="POST">

    <div class="field-group">
        <label for="parameter1">Parameter 1</label>
        <input class="text" type="text" id="parameter1" name="parameter1" value="${parameter1}">
        <input type="hidden" name="servlet_atl_token" value="$servlet_atl_token">
    </div>

    <div class="buttons">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
